footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;

    background-color: var(--color-4);

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    height: 5vh;
    width: 100%;
}

footer h4 {
    color: #000000;
    opacity: 40%;
}